<!-- ejs syntaxx to include header template on all list pages -->
<%- include("partials/header"); -%>

<h1>About Page</h1>

<p><%= aboutContent %></p>

<!-- ejs syntaxx to include footer template on all list pages -->
<%- include("partials/footer"); -%>
