<!-- ejs syntaxx to include header template on all list pages -->
<%- include("partials/header"); -%>

<h1>Compose</h1>

<!-- submit form -->
<form class="newPost" action="/compose" method="post">
  <label for="fname"></label><br />
  <input
    type="text"
    id="newBlogPost"
    name="newBlogPost"
    placeholder="new blog"
    autocomplete="off"
  /><br />
  <button  class="publishButton" type="submit" name="list" value="" %>>Publish</button>
</form>

<!-- ejs syntaxx to include footer template on all list pages -->
<%- include("partials/footer"); -%>
