<!-- ejs syntaxx to include header template on all list pages -->
<%- include("partials/header"); -%>

<h1>Compose</h1>

<!-- submit form -->
<!-- <form class="newPost" action="/compose" method="post">
  <label for="fname"></label><br />
  <input
    type="text"
    id="newBlogPost"
    name="newBlogPost"
    placeholder="new blog"
    autocomplete="off"
  /><br />
  <button  class="publishButton" type="submit" name="list" value="" %>>Publish</button>
</form> -->

<form class="newPost" action="/compose" method="post"></form>
    <div class="mb-3 form-group">
        <label for="fname" class="form-label">Title</label>
        <input type="text" class="form-control" id="newBlogTitle" name="newBlogTitle" placeholder="">
    </div>
    <div class="mb-3">
        <label for="fname" class="form-label">Post</label>
        <textarea class="form-control" id="newBlogPost" name="newBlogPost" rows="4"></textarea>
    </div>
    <button class="publishButton btn btn-primary" type="submit" name="list" value="" %>>Publish</button>
</form>

<!-- ejs syntaxx to include footer template on all list pages -->
<%- include("partials/footer"); -%>
