<!-- ejs syntaxx to include header template on all list pages -->
<%- include("partials/header"); -%>

<h1>Compose</h1>


<!-- ejs syntaxx to include footer template on all list pages -->
<%- include("partials/footer"); -%>