<!-- ejs syntaxx to include header template on all list pages -->
<%- include("partials/header"); -%>

<h1>Compose</h1>

<!----------- submit form --------------------->

<form class="" action="/compose" method="post">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input type="text" class="form-control" id="newBlogTitle" name="newBlogTitle">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">New Blog</label>
      <textarea class="form-control" id="newBlogPost" name="newBlogPost" rows=4></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

<!-- ejs syntaxx to include footer template on all list pages -->
<%- include("partials/footer"); -%>
