<!-- ejs syntaxx to include header template on all list pages -->
<%- include("partials/header"); -%>

<h1>Home Page</h1>

<p><%= homeContent %></p>

<% console.log(posts) %>
<!------ ejs syntaxx to include footer template on all list pages ---->
<%- include("partials/footer"); -%>
