<!-- ejs syntaxx to include header template on all list pages -->
<%- include("partials/header"); -%>

<h1>Home Page</h1>

<p><%= homeContent %></p>

<!-- <% console.log(posts) %> -->

<%for(let i = 0; i < posts.length; i++){
    console.log(posts[i].title)
} %>
<!------ ejs syntaxx to include footer template on all list pages ---->
<%- include("partials/footer"); -%>
