<!-- ejs syntaxx to include header template on all list pages -->
<%- include("partials/header"); -%>


<h1><%= title%></h1>

<p><%= body %></p>  



<!------ ejs syntaxx to include footer template on all list pages ---->
<%- include("partials/footer"); -%>