<!-- ejs syntaxx to include header template on all list pages -->
<%- include("partials/header"); -%>


<h1><%= posts[i].title %></h1>

<p><%= posts[i].blog %></p>  






<!------ ejs syntaxx to include footer template on all list pages ---->
<%- include("partials/footer"); -%>